/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
}

.container {
    clear: both;
    overflow: hidden;
    padding: 0 80px;
    position: relative;
}

.row {
    clear: both;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
}

.section {
    margin-bottom: 60px;
}

.content {
    min-height: 230px;
}

.content,
.content-in {
    margin-bottom: 60px;
}

#hajo .content-in_img {
    min-height: 480px;
}

#hajo .content-in_txt {
    min-height: 320px;
}

#makett .content-in_img {
    min-height: 280px;
}

#makett .content-in_txt {
    min-height: 320px;
}

#vizual .content-in_img {
    min-height: 440px;
}

#vizual .content-in_txt {
    min-height: 280px;
}

.content-in img {
    margin-bottom: 30px;
}

hr {
    border: 1px solid cornflowerblue;
    margin-bottom: 60px;
}

h1 {
    color: cornflowerblue;
    font-size: 30px;
    margin-bottom: 14px;
}

h2 {
    color: cornflowerblue;
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
}

h3 {
    color: cornflowerblue;
    font-size: 26px;
    margin-bottom: 14px;
}

h4 {
    color: cornflowerblue;
    font-size: 22px;
    margin-bottom: 10px;
}

.intro h4 {
    margin-top: 20px;
}

h5 {
    color: cornflowerblue;
    font-size: 18px;
    margin-bottom: 10px;
}

span {
    color: cornflowerblue;
    font-size: 18px;
}

p {
    line-height: 1.2;
    color: #545f88;
    text-align: justify;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.half {
    width: 50%;
}

.third {
    width: 33.333%;
    text-align: center;
}

.two_third {
    width: 66.666%;
}

.fourth {
    width: 25%;
}

.three_fourth {
    width: 75%;
}

.container .half,
.container .third,
.container .two_third,
.container .fourth,
.container .three_fourth {
    padding: 0 30px 0 30px;
}

.container-fluid {
    padding: 30px 0;
    width: 100%;
}

.container-fluid .half,
.container-fluid .third,
.container-fluid .two_third,
.container-fluid .fourth,
.container-fluid .three_fourth {
    padding: 0;
    background: lavender;
}

.container-fluid p,
.container-fluid h2 {
    padding: 60px;
}

img {
   width: 75%;
    object-fit: cover;
}

.logo {
    border-radius: 30px;
    max-width: 100px;
}

.galeria .half, 
.galeria .third,
.galeria .fourth {
    padding: 20px;
}

.galeria img {
    height: 100%;
   width: 100%;
}

/*menü*/

header {
    margin-bottom: 60px;
    background-color: cornflowerblue;
    color: white;
}

nav{
    position: relative;
    z-index: 5; 
}

nav ul {
    margin-left: -3%;
    padding-top: 7%;
}

nav li {
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
    display: inline;
}

nav li a {
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}



.kapcsolat {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

.name {
    font-size: 20px;
    margin-bottom: 20px;
}

.data {
    margin-bottom: 10px;
}

#year {
    color: white;
}